*,
::after,
::before {
	margin: 0;
	padding: 0;
	font: inherit;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 0;
}

[tabindex="-1"]:focus {
	outline: 0 !important;
}

input[type=button],
input[type=search],
input[type=select],
input[type=submit],
input[type=text],
input,
textarea {
	-webkit-appearance: none !important;
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}

* {
	border: 0;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	transition: all 2.3s cubic-bezier(0.445, 1.05, 0.55, 0.95);
	font-weight: 300;
	letter-spacing: 0.025em;
	background: linear-gradient(30deg, #0477a5, #637ce6) !important;
	background-attachment: fixed !important;
}

h1 {
	font-size: 72px;
	font-weight: 900;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h2 {
	font-size: 30px;
	text-transform: uppercase;
	margin-top: 30px;
}

span {
	display: block;
}

.header {
	height: 120vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.header img {
	margin-right: 20px;
	height: 150px;
}

.header__title {
	display: flex;
}

.presentation__area {
	height: 70vh;
}

.phone {
	height: 462px;
	width: 228px;
	margin: 0 auto;
	background: #d3dfee;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .2));
}

.phone__screen {
	height: 432px;
	width: 200px;
	border-radius: 20px;
	background: linear-gradient(30deg, #0477a5, #637ce6);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 60px 0 15px;
}

.stupid__notch {
	position: absolute;
	width: 115px;
	height: 15px;
	background: #d3dfee;
	top: 15px;
	z-index: 2;
	left: 50%;
	transform: translateX(-50%);
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

.phone__screen__logo {
	width: 50px;
}

.phone__screen__input {
	width: 150px;
	border: 1px solid #fff;
	padding: 10px;
	border-radius: 30px;
	color: #fff;
	font-size: 11px;
	margin: 10px 0;
}

.phone__screen__reset {
	font-size: 11px;
	text-align: center;
	color: #fff;
	display: block;
}

.phone__screen__button {
	background: rgba(255, 255, 255, 0.15);
	text-align: center;
	padding: 10px;
	border-radius: 30px;
	color: #fff;
	font-size: 11px;
	margin: 10px 0;
}

.footer {
	height: 120vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.select {
	background: linear-gradient(30deg, #0477a5, #637ce6);
	border: 5px solid #fff;
	padding: 20px;
	text-transform: uppercase;
	color: #fff;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .2));
	font-weight: 900;
	width: 200px;
	margin: 10px;
}

.selects,
.inputs {
	display: flex;
}

.select option {
	color: #0477a5;
}

::-webkit-input-placeholder {
	color: #fff;
}

::-moz-placeholder {
	color: #fff;
}

:-ms-input-placeholder {
	color: #fff;
}

:-moz-placeholder {
	color: #fff;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 160px;
	height: 20px;
	margin: 10px 50px;
	background: linear-gradient(to right, #9A2720 0%, #9A2720 100%);
	background-size: 150px 10px;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	outline: none;
}

.tooltip {
	position: relative;
	color: #0477a5;
	font-weight: bold;
	background: #fff;
	padding: 20px 20px;
	text-transform: uppercase;
	border-radius: 40px;
	margin: 20px;
	display: block;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .2));
	text-align: center;
	text-decoration: none;
}

.tooltip--rotate {
	transition: all 0.5s;
}

.tooltip--rotate:hover {
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .7));
}

.tooltip span {
	display: block;
}

.tooltip img {
	width: 30px;
	margin-bottom: 5px;
}

.info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tooltip::after {
	display: block;
	content: " ";
	position: absolute;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	background: #fff;
	left: 50%;
	margin-left: -5px;
	bottom: -5px;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, .2));
	z-index: -1;
}